 
    

<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4 text-center">BRANDS</h4>
                <form class="d-flex justify-content-end">
                    <a href="/admin/add-brands" class="btn btn-success" style="width: fit-content;">ADD BRAND</a>
                </form><br>

                <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each brands}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{this.Name}}</td>
                                <td>
                                    <div>
                                        <button  class="btn btn-danger btn-sm"
                                            onclick="deleteBrand('{{this._id}}')">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteBrand(brId) {
        
        swal({
            title: "Are you sure?",
            text: "Brand will be deleted",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/admin/delete-brands",
                        data: {
                            brandId: brId,
                        },
                        method: "post",
                        success: (response) => {
                            location.reload();
                        },
                    });
                }
            });
    }
</script>
