<!-- START HEADER AREA -->
<header class="header-area header-wrapper">
    <!-- header-top-bar -->
    <div class="header-top-bar plr-185">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 d-none d-md-block">
                    {{!-- <div class="call-us">
                        <p class="mb-0 roboto">0123456789</p>
                    </div> --}}
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="top-link clearfix">
                        <ul class="link f-right">
                            <li>
                                {{#if userlog}}
                                <a href="/profile">
                                    <i class="zmdi zmdi-account"></i>                                  
                                    {{userlog.Username}}
                                    {{else}}
                                     <a href="/login">
                                    <i class="zmdi zmdi-account"></i>                                  
                                    My Account
                                    {{/if}}
                                </a>
                            </li>
                            <li>
                                {{!-- <a href="/login">
                                    <i class="zmdi zmdi-favorite"></i>
                                    Wish List (0)
                                </a> --}}
                            </li>
                            <li>
                                {{#if userlog}}
                                <a href="/logout">
                                    <i class="zmdi zmdi-lock"></i>
                                    Logout
                                </a>
                                {{else}}
                                <a href="/login">
                                    <i class="zmdi zmdi-lock"></i>
                                    Login
                                </a>
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-middle-area -->
    <div id="sticky-header" class="header-middle-area plr-185">
        <div class="container-fluid">
            <div class="full-width-mega-dropdown">
                <div class="row">
                    <!-- logo -->
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <h1> <a style="color: black " class="font-size" href="/">
                                    STYLE CART
                                </a></h1>
                        </div>
                    </div>
                    <!-- primary-menu -->
                    <div class="col-lg-6 d-none d-lg-block">
                        <nav id="primary-menu">
                            <ul class="main-menu text-center">
                                <li><a href="/">Home</a></li>
                                <li class="mega-parent"><a href="/allproducts">Products</a>
                                    {{!-- <div class="mega-menu-area clearfix">
                                        <div class="mega-menu-link f-left">
                                            <ul class="single-mega-item">
                                                <li>
                                                    <a href="style-men">MENS FASHION</a>
                                                </li>
                                                <li>
                                                    <a href="style-women">WOMENS FASHION</a>
                                                </li>
                                                <li>
                                                    <a href="style-kid">KIDS FASHION</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> --}}
                                </li>
                                <li>
                                    <a href="/orders">Orders</a>
                                </li>
                                <li>
                                    <a href="/wishlist">Wishlist</a>
                                </li>
                                {{!-- <li>
                                    <a href="#">About us</a>
                                </li> --}}
                                {{!-- <li>
                                    <a href="#">Contact</a>
                                </li> --}}
                            </ul>
                        </nav>
                    </div>
                    <!-- header-search & total-cart -->
                    <div class="col-lg-2 col-md-8">
                        <div class="search-top-cart  f-right">
                            <!-- header-search -->
                            {{!--  --}}
                            {{!-- <div class="header-search f-left">
                                <div class="header-search-inner">
                                    <button class="search-toggle">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                    <form action="#">
                                        <div class="top-search-box">
                                            <input type="text" placeholder="Search here your product...">
                                            <button type="submit">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div> --}}
                            {{!--  --}}
                            <!-- total-cart -->
                            <div class="total-cart f-left">
                                <div class="total-cart-in">
                                    <div class="cart-toggler">
                                        <a href="/cart">
                                            <span class="cart-quantity" id="cart-count">{{cartCount}}</span></span><br>
                                            <span class="cart-icon">
                                                <i class="zmdi zmdi-shopping-cart-plus"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="top-cart-inner your-cart">
                                                <h5 class="text-capitalize">Your Cart</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER AREA -->