
<div class="row m-0">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Change Password</h2>
            <form id="submit-form" action="/change-password" method="post">
                <div class="form-group">
                    <label><strong>New Password</strong></label>
                    <input type="password" id="password" onkeyup="validatePassword()" value="" class="form-control" name="Password"
                        placeholder="Enter new password" required>
                        <span id="password-error" class="text-danger my-auto"></span>
                </div>
                

                <div class="form-group">
                    <label><strong>Confirm Password</strong></label>
                    <input type="password" id="confirmPassword" onkeyup="validateConfirmPassword()" value="" class="form-control" placeholder="Confirm Password"
                        required>
                </div>
                <span id="confirmPassword-error" class="text-danger my-auto"></span>
                <div class="mx-auto mt-3" style=" width: fit-content;">
                    <button type="submit" onclick="" value="Submit"
                        class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var passwordError = document.getElementById('password-error')
    var confirmPasswordError = document.getElementById('confirmPassword-error')
    var submitError = document.getElementById('submit-error');

   
     function validatePassword() {
      var password = document.getElementById('password').value;

      if (password.length == 0) {
        passwordError.innerHTML = "Password is required";
        return false;

      }
      if (password.length < 3) {
        passwordError.innerHTML = "Password must be atleast 3 characters ";
        return false;
      }

      passwordError.innerHTML = ''
      return true

    }
     function validateConfirmPassword() {
      var password = document.getElementById('password').value
      var confirmPassword = document.getElementById('confirmPassword').value
      if (password != confirmPassword) {
        confirmPasswordError.innerHTML = "Please enter same password"
        return false
      }
      confirmPasswordError.innerHTML = ''
      return true
    }


</script>

