<div class="container">
    <div class="tab-pane" id="order-complete">
    <div class="order-complete-content box-shadow">
        <div class="thank-you p-30 text-center">
            <h6 class="text-black-5 mb-0">Thank you. Your order has been received.</h6>
            <a href="/orders" class="btn btn-primary mt-1" style="width: fit-content;" >View orders</a>
        </div>
    </div>
</div>
</div>