<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <meta content="Themesdesign" name="author" />

    <link href="../plugins/bootstrap-rating/bootstrap-rating.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="home-btn d-none d-sm-block">
        <a href="/" class="text-white"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="wrapper-page">
        <div class="card card-pages shadow-none">

            <div class="card-body">
                <div class="text-center m-t-0 m-b-15">
                    <h4>OTP VERIFICATION</h4>
                </div>
                {{!-- <h5 class="font-18 text-center">LOG IN</h5> --}}

                <form class="form-horizontal m-t-30" action="/otp-verify" method="POST">
                    {{#if otpsignErr}}
                    <p class="error text-center" style="color: red;">{{otpsignErr}}</p>
                    {{/if}}
                    <div class="form-group text-center">
                        <div class="col-12">
                            <label>Otp sent to mobile number {{Mobile}}</label><br>
                            <span id="otp-error" class="text-danger my-auto"></span>
                            <input type="number" class="form-control" name="otp" placeholder="Enter otp" id="otpcheck"
                                onkeyup="validateOTP()" required>
                            <span id="resend" class="text-dark"></span>
                            <div id="timer-full">Resend OTP in <span id="timer"></span></div>
                        </div>
                    </div>
            </div>



            <div class="form-group text-center m-t-20">
                <div class="col-12">
                    <button class="btn btn-primary btn-block btn-lg waves-effect waves-light"
                        type="submit">Verify</button>
                </div>
            </div>


            </form>
        </div>

    </div>
    </div>
    <!-- END wrapper -->

    <script src="/stylesheets/admin/js/jquery.min.js"></script>
    <script src="/stylesheets/admin/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheets/admin/js/metismenu.min.js"></script>
    <script src="/stylesheets/admin/js/jquery.slimscroll.js"></script>
    <script src="/stylesheets/admin/js/waves.min.js"></script>

    <!-- Bootstrap rating js -->
    <script src="../plugins/bootstrap-rating/bootstrap-rating.min.js"></script>
    <script src="/stylesheets/admin/pages/rating-init.js"></script>

    <!-- App js -->
    <script src="/stylesheets/admin/js/app.js"></script>

    <script>
        let timerOn = true;

        function timer(remaining) {
            var m = Math.floor(remaining / 60);
            var s = remaining % 60;

            m = m < 10 ? '0' + m : m;
            s = s < 10 ? '0' + s : s;
            document.getElementById('timer').innerHTML = m + ':' + s;
            remaining -= 1;

            if (remaining >= 0 && timerOn) {
                setTimeout(function () {
                    timer(remaining);
                }, 1000);
                return;
            }

            if (!timerOn) {
                // Do validate stuff here
                return;
            }

            // Do timeout stuff here
            document.getElementById('resend').innerHTML = '<a href="/resend-otp">Resent OTP</a>'
            document.getElementById('timer-full').innerHTML = ''
        }

        timer(60);

        var phoneNumberError = document.getElementById('otp-error')
        function validateOTP() {
            var phone = document.getElementById('otpcheck').value
            if (phone.length < 6) {
                phoneNumberError.innerHTML = "OTP should be 6-digit"
                return false
            }
            if (phone.match(/^([A-Za-z])+$/)) {
                LphoneNumberError.innerHTML = "Only numbers";
                return false;
            }
            if (!phone.match(/^\d{6}$/)) {
                phoneNumberError.innerHTML = "OTP is invalid"
                return false
            }

            phoneNumberError.innerHTML = ""
            return true
        }
    </script>

</body>

</html>