 <!-- Start page content -->
        <div id="page-content" class="page-wrapper section">

            <!-- ERROR SECTION START -->
            <div class="error-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="error-404 box-shadow">
                                <img src="/stylesheets/user/img/others/404.PNG" alt="">
                                <div class="go-to-btn btn-hover-2">
                                    <a href="/">go to home page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ERROR SECTION END -->             

        </div>
        <!-- End page content -->

         <!-- START FOOTER AREA -->
        