<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <meta content="Themesdesign" name="author" />

    <link href="../plugins/bootstrap-rating/bootstrap-rating.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="home-btn d-none d-sm-block">
        <a href="/" class="text-white"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="wrapper-page">
        <div class="card card-pages shadow-none">

            <div class="card-body">
                <div class="text-center m-t-0 m-b-15">
                    <h4>SIGN IN</h4>
                </div>
                {{!-- <h5 class="font-18 text-center">LOG IN</h5> --}}

                <form class="form-horizontal m-t-30" action="/signup" method="POST">
                    {{#if signerr}}
                    <p class="error text-center" style="color: red;">{{signerr}}</p>
                    {{/if}}
                    {{#if referr}}
                <p class="error text-center" style="color: red;">{{referr}}</p>
                {{/if}}
                <span id="submit-error" class="text-danger my-auto"></span>

                  {{!--  --}}
                    <div class="form-group">
                        <div class="col-12">
                            <label>Username</label>
                            <input type="text" class="form-control" name="Username" placeholder="Enter username" id="firstName" onkeyup="validateName()" required>
                        </div>
                    </div>
                    <span id="firstName-error" class="text-danger my-auto"></span>
                    {{!--  --}}

                    <div class="form-group">
                        <div class="col-12">
                          {{emailError}}
                            <label>Email</label>
                            <input type="text" class="form-control" name="Email" placeholder="Enter email" id="email" onkeyup="validateEmail()" required>
                        </div>
                    </div>
                    <span id="email-error" class="text-danger my-auto"></span>

                    <div class="form-group">
                        <div class="col-12">
                            <label>Mobilenumber</label>
                            <input type="number" class="form-control" name="Mobile" placeholder="Enter mobile" id="phoneNumber" onkeyup="validatePhoneNumber()" required>
                        </div>
                    </div>
                    <span id="phoneNumber-error" class="text-danger my-auto"></span>

                      <div class="form-group">
                        <div class="col-12">
                            <label>Password</label>
                            <input type="password" class="form-control" name="Password" placeholder="Enter password" id="password" onkeyup="validatePassword()" required>
                        </div>
                    </div>
                    <span id="password-error" class="text-danger my-auto"></span>

                    <div class="form-group">
                        <div class="col-12">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control"  placeholder="Re-enter password" id="confirmPassword" onkeyup="validateConfirmPassword()" required>
                        </div>
                    </div>
                    <span id="confirmPassword-error" class="text-danger my-auto"></span>

                    <div class="form-group">
                        <div class="col-12">
                            <label>Referral Code</label>
                            <input type="text" class="form-control" name="referralcode"  placeholder="Enter referral code if any" >
                        </div>
                    </div>
                    

                    {{!-- <div class="form-group">
                        <div class="col-12">
                            <div class="checkbox checkbox-primary">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1"> Remember me</label>
                                </div>
                            </div>
                        </div>
                    </div> --}}

                    <div class="form-group text-center m-t-20">
                        <div class="col-12">
                            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" onclick="return validateForm()" type="submit" >Sign
                                In</button>
                        </div>
                    </div>

                    <div class="form-group row m-t-30 m-b-0">
                        <div class="col-sm-6">
                            <a href="/login" class=" ml-3">Already
                    have account ?</a>
                        </div>
                        {{!-- <div class="col-sm-6 text-right">
                            <a href="/signup" >Create an account</a>
                        </div> --}}
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- END wrapper -->

    <script>
    var FirstNameError = document.getElementById('firstName-error');
    
    var emailError = document.getElementById('email-error');
    var phoneNumberError = document.getElementById('phoneNumber-error')
    var passwordError = document.getElementById('password-error')
    var confirmPasswordError = document.getElementById('confirmPassword-error')
    var submitError = document.getElementById('submit-error');

   function validateName(){
    console.log("any")
    var FirstName = document.getElementById('firstName').value;

      if (FirstName.length == 0) {
        FirstNameError.innerHTML = "Name is required";
        return false;
      }
      if (!FirstName.match(/^([A-Za-z])+$/)) {
        FirstNameError.innerHTML = "Only letters";
        return false;
      }
      if (FirstName.length < 4) {
        FirstNameError.innerHTML = "Enter a valid name";
        return false;
      }
      FirstNameError.innerHTML = ""
      return true
   }
    function validateEmail() {
      var email = document.getElementById('email').value;

      if (email.length == 0) {
        emailError.innerHTML = "Email is required";
        return false;

      }
      if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
        emailError.innerHTML = "Email is invalid";
        return false;
      }
      emailError.innerHTML = ""
      return true
    }
        function validatePhoneNumber() {
      var phone = document.getElementById('phoneNumber').value
      if (phone.length < 10) {
        phoneNumberError.innerHTML = "Mobile number should be 10-digit"
        return false
      }
      if (phone.match(/^([A-Za-z])+$/)) {
        LphoneNumberError.innerHTML = "Only numbers";
        return false;
      }
      if (!phone.match(/^\d{10}$/)) {
        phoneNumberError.innerHTML = "Phone number is invalid"
        return false
      }

      phoneNumberError.innerHTML = ""
      return true
    }
     function validatePassword() {
      var password = document.getElementById('password').value;

      if (password.length == 0) {
        passwordError.innerHTML = "Password is required";
        return false;

      }
      if (password.length < 3) {
        passwordError.innerHTML = "Password must be atleast 3 characters ";
        return false;
      }

      passwordError.innerHTML = ''
      return true

    }
     function validateConfirmPassword() {
      var password = document.getElementById('password').value
      var confirmPassword = document.getElementById('confirmPassword').value
      if (password != confirmPassword) {
        confirmPasswordError.innerHTML = "Please enter same password"
        return false
      }
      confirmPasswordError.innerHTML = ''
      return true
    }
     function validateForm() {

      if (!validateName() || !validateEmail() || !validatePhoneNumber() || !validatePassword() || !validateConfirmPassword()) {
        submitError.innerHTML = 'Please fill the form properly';
        return false;
      }
    }


</script>

    <script src="/stylesheets/admin/js/jquery.min.js"></script>
    <script src="/stylesheets/admin/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheets/admin/js/metismenu.min.js"></script>
    <script src="/stylesheets/admin/js/jquery.slimscroll.js"></script>
    <script src="/stylesheets/admin/js/waves.min.js"></script>

    <!-- Bootstrap rating js -->
    <script src="../plugins/bootstrap-rating/bootstrap-rating.min.js"></script>
    <script src="/stylesheets/admin/pages/rating-init.js"></script>

    <!-- App js -->
    <script src="/stylesheets/admin/js/app.js"></script>

</body>

</html>