<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STYLE CART</title>

    {{#if userhead}}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/stylesheets/user/img/icon/favicon.png">
    <!-- All CSS Files -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="/stylesheets/user/css/bootstrap.min.css">
    <!-- Nivo-slider css -->
    <link rel="stylesheet" href="/stylesheets/user/lib/css/nivo-slider.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="/stylesheets/user/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="/stylesheets/user/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/stylesheets/user/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/stylesheets/user/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="/stylesheets/user/css/custom.css">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="/stylesheets/user/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">

    {{!-- external datatable --}}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    {{/if}}

    {{#if admin}}
    <!-- Bootstrap rating css -->
    <link href="/stylesheets/admin/plugins/bootstrap-rating/bootstrap-rating.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/admin/css/style.css" rel="stylesheet" type="text/css">

    {{!-- datatables --}}
    <!-- DataTables -->
        <link href="/stylesheets/admin/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/admin/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="/stylesheets/admin/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    {{/if}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    
    {{#if productScript}}
    {{!-- nproduct-view css start--}}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
<link href="https://w3learnpoint.com/cdn/jquery-picZoomer.css">
{{!-- nproduct-view css end--}}
    {{/if}}

</head>

<body>
    {{#if userhead}}
    {{>user-header}}
    {{/if}}

    {{#if admin}}
    {{>admin-sidebar}}
    {{/if}}

    {{{body}}}

    {{#if userhead}}
    
    {{!-- swal cdn --}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {{!-- add to cart support script --}}
    <script src="/javascripts/script.js"></script>

    <!-- jquery latest version -->
    <script src="/stylesheets/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/stylesheets/user/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="/stylesheets/user/js/bootstrap.bundle.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="/stylesheets/user/lib/js/jquery.nivo.slider.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="/stylesheets/user/js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="/stylesheets/user/js/main.js"></script>

    {{!-- external datatable script --}}
     <script>
    $(document).ready( function () {
    $('#productsTable').DataTable();
    } );
    </script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

    {{/if}}

    {{#if admin}}
    {{!-- swal cdn --}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- jQuery  -->
    <script src="/stylesheets/admin/js/jquery.min.js"></script>
    <script src="/stylesheets/admin/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheets/admin/js/metismenu.min.js"></script>
    <script src="/stylesheets/admin/js/jquery.slimscroll.js"></script>
    <script src="/stylesheets/admin/js/waves.min.js"></script>

    <!-- Bootstrap rating js -->
    <script src="/stylesheets/admin/plugins/bootstrap-rating/bootstrap-rating.min.js"></script>
    <script src="/stylesheets/admin/pages/rating-init.js"></script>

    <!-- App js -->
    <script src="/stylesheets/admin/js/app.js"></script>

    {{!-- datatables --}}
     <!-- Required datatable js -->
        <script src="/stylesheets/admin/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="/stylesheets/admin/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/jszip.min.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/pdfmake.min.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/vfs_fonts.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/buttons.print.min.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/stylesheets/admin/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/stylesheets/admin/plugins/datatables/responsive.bootstrap4.min.js"></script>

        <!-- Datatable init js -->
        <script src="/stylesheets/admin/pages/datatables.init.js"></script>
    {{/if}}

   
    
    {{#if productScript}}
    {{!-- nproduct-view --}}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>

 <script src="/javascripts/productview-script.js"></script>
   {{/if}}
</body>

</html>